---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { services } from "../../utils/data.ts";

type ServicesProps = {
  title: string;
  features: string[];
  icon: string;
};

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section
  id="services"
  class=`relative bg-gradient-to-br from-red-50 via-white to-red-50 dark:from-black dark:via-gray-900 dark:to-black ${className}`
>
  <span
    class="w-40 h-40 rounded-full bg-gradient-to-br from-primary/30 via-black/20 to-primary/30 animate-pulse float-animation
    absolute left-1/3 bottom-1/3 blur-2xl"
  ></span>
  <span
    class="w-40 h-40 rounded-full bg-gradient-to-br from-primary/30 via-primary/20 to-black/30 animate-pulse float-animation-delayed
    absolute right-1/4 bottom-0 blur-2xl"
  ></span>
  <span
    class="w-40 h-40 rounded-full bg-gradient-to-br from-primary/30 via-black/20 to-primary/30 animate-pulse float-animation
    absolute right-1/3 top-1/3 blur-2xl"
    style="animation-delay: 1s;"
  ></span>

  <span
    class="w-40 h-40 rounded-full bg-gradient-to-br from-black/30 via-primary/20 to-primary/30 animate-pulse float-animation-delayed
    absolute right-3/4 top-1/3 blur-2xl"
  ></span>
  <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-3xl mx-auto space-y-4 scroll-fade-in">
      <Title className="">What We Do</Title>
      <Paragraph className="mt-4">
        We transform businesses through our core services that work together to
        create powerful digital experiences and drive measurable results.
      </Paragraph>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
      {
        services.map((service: ServicesProps, index: number) => {
          const delayClass =
            index === 0
              ? "scroll-delay-1"
              : index === 1
                ? "scroll-delay-2"
                : index === 2
                  ? "scroll-delay-3"
                  : "scroll-delay-4";
          return (
            <Service
              title={service.title}
              features={service.features}
              icon={service.icon}
              className={`scroll-scale-backdrop ${delayClass} hover:delay-0 `}
            />
          );
        })
      }
    </div>
  </Container>
</section>
